@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
	font-family: 'Fredoka One', cursive;
	background: linear-gradient(to right, #96fbc4, #f9f586);
}

.loading-gif {
	display: block;
	margin: auto;
}

.dollarRight {
	
font-weight: bold;
	
color: green;
	
float: right;
	
padding: 5px 0;
}

#slider-range {
	margin: 1em 0;
}

div.ui-widget-header {
	background: #ff10d7bf;
}

.ui-state-focus {
	outline: 0;
}

.dollarRight input {
	border: 0;
	color: #178634;
	background: #fff0;
}

.choiceFullBox {
	padding-right: 1em;
	margin-bottom: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	width: -webkit-fill-available;
	background: linear-gradient(to right, #16dbfba3, #7ff5d4b8);
	display: block;
	border-radius: 1em;
	padding-left: 1em;
}

.choiceFullBox:hover {
	transform: scale(0.98);
	background: #8af7f291;
}

.container {
	border-radius: 1em;
	font-family: 'Nunito', sans-serif;
	font-size: large;
	padding: 1em;
	background: #ffffffa6;
	margin: auto;
	margin-top: 1em;
	width: 50%;
}

.row {
	margin: 0;
}

.introText {
}

.questionText {
color: #4ee08c;
}

.choiceBox {
box-shadow: 0px 3px 20px #ab979769;
text-align: center;
border-radius: 1em;
margin: 1em;
max-width: 11em;
background: #9aedf5ad;
padding: 1em;
}

.choiceBox:hover {
	transform: scale(0.9);
}

.selected {
	border: 4px solid #0299bb;
}

.textNext {
	margin-left: 70%;
}

.textNext:hover {
	text-decoration: none;
}

.choiceBox img:nth-of-type(2) {
	overflow: overlay;
	position: absolute;
	transform: translate(100%, -290%);
}