<!DOCTYPE html>
<html>
<head>
	<title>AlphaStore</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/splash.css">
</head>
<body>
	<div class="jumbotron">
	  <ul class="nav">
		  <li class="nav-item first-item">
		    AlphaStore
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Features</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Pricing</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link disabled" href="#">About</a>
		  </li>
		  <li class="nav-item">
		  	<a class="nav-link" href="#">Register</a>
		  </li>
		  <li class="nav-item">
		  	<a class="nav-link" href="/login">Login</a>
		  </li>	
	  </ul>
	  <div class="container">
	  	<div class="row">
	  		<div class="col">
	  			<h1 class="text-title">Take control of eCommerce like never before.</h1>
	  			<a href="/wizard1"><button type="button" class="btn btn-lg btn-primary">Get Started!</button></a>
	  		</div>
	  		<div class="col">
	  			<img src="static/img/AlphaWallet.png" id="wallet">
	  		</div>
	  	</div>
	  	<br><br>
	  	<hr>
	  	<br>
	    </div>
		<div class="row">
		  <div class="col">
		    <div class="card">
		      <div class="card-body">
		      	<img src="static/img/sale.png">
		        <h4 class="card-title">Low price, high quality.</h4>
		        <p class="card-text">Easily purchase items that are both affordable and effective. Browse several options tailored to your interests and save money, instantly.</p>
		        <a href="#" class="btn btn-primary">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card">
		      <div class="card-body">
		      	<img src="static/img/atomic.png">
		        <h4 class="card-title">Operate on the blockchain.</h4>
		        <p class="card-text">Work within a decentralized infrastructure where transactions can be made with a variety of cryptocurrencies. Buy and sell on the global marketplace.</p>
		        <a href="#" class="btn btn-primary">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card">
		      <div class="card-body">
		      	<img src="static/img/shake.png">
		        <h4 class="card-title">Complete transparency.</h4>
		        <p class="card-text">All housing and vehicle information is made available to you for no cost. Our methods are made publicly known so you know exactly where your money is going.</p>
		        <a href="#" class="btn btn-primary">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
	<script src="static/js/motion.js"></script>
</body>
</html>